<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <script>
        
        function switchLed() {
            fetch("/switch_led", {
                method: "GET"
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => console.error("Error:", error));
        }

    </script>
</head>
<body>
    <button onclick="switchLed()">Switch led state</button>
</body>
</html>